*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    display: flex;
}


.acessoSenha{
    width: 20%;
    height: 30%;
    padding: 30px 40px 30px 40px;
    margin-top: 200px;
    margin-left: 40%;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: mediumaquamarine;
    font-size: 18px;
}


input{
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    width: 100%;
}

#botao{
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    background-color: rgb(62, 62, 221);
    padding: 15px 25px 15px 25px;
    margin-top: 5px;
}

#botao:hover{
    cursor: pointer;
    background-color: crimson;
}

#botao:active{
    background-color: white;
    border: 3px solid blue;
    color: blue;
}

nav{
    margin: 15px;
    padding: 5px;
    width: 240px;
    display: block;
    border-right: solid 2px black;
    background-color: rgb(232, 248, 140);
}

main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.option{
    text-align: start;
    justify-content: center;
    padding: 5px;
    list-style-type:none;
    list-style:none;
}

.option:hover{
    cursor: pointer;
    color: yellow;
    background-color: crimson;
    transition: 0.5s;
    border: 2px yellow solid;
    border-radius: 8px;
}

.option:active{
    background-color: white;
    color: blue;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
}

.fecharJanela{
    background-color: crimson;
    color: white;
    width: 10%;
    font-size: 0.7rem;
    text-align: center;
}
.fecharJanela:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
.fecharJanela:active{
    background-color: yellow;
}


h1{
    font-size: 1rem;
    text-decoration: underline;
}

form{
    border: 2px solid gray;
    width: 50%;
    padding: 25px;
    margin: 20px;
}


#controleCadastro{
    display: flex;
    margin: 10px;
}

.inputCadastro{
    width: 80%;
    height: 20px;
}

.moverCadastro{
    background-color: purple;
    color: white;
    padding: 3px;
}
.moverCadastro:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
.moverCadastro:active{
    background-color: yellow;
}

.novoCadastro{
    background-color: blue;
    color: white;
    padding: 3px;
}
.novoCadastro:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
.novoCadastro:active{
    background-color: yellow;
}

.salvaCadastro{
    background-color: green;
    color: white;
    padding: 3px;
    
}
.salvaCadastro:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
.salvaCadastro:active{
    background-color: yellow;
}


#janelaConsulta{
    border: 2px solid black;
    background-color: aliceblue;
    padding: 10px;
}

thead{
    display: flex;
}

th{
    justify-content:stretch;
    border-left: 2px black solid;
    padding: 5%;
}
