body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
}

.acessoSenha{
    width: 20%;
    height: 30%;
    padding: 30px 40px 30px 40px;
    margin-top: 200px;
    margin-left: 40%;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: mediumaquamarine;
    font-size: 18px;
}

input{
    border-radius: 5px;
    margin: 0%;
}

p{
    margin: 3px;
    padding: 5px;
}

#botao{
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    background-color: rgb(62, 62, 221);
    padding: 15px 25px 15px 25px;
}

#botao:hover{
    cursor: pointer;
    background-color: crimson;
    transition: 1s;
}


#menu{
    height: 100%;
    width: 15%;
    display:block;
    margin: auto 20px auto 40px;
    flex-direction: column;
    border-right: solid 2px black;
    padding: 30px 10px 180px 10px;
    margin: 10px 10px 10px 10px ;
    background-color: rgb(232, 248, 140);
}

.material-symbols-outlined{
    flex-direction: row;
}

#areaTrabalho{
    width: 85%;
    background-color: red;
}

.option{
    text-align: start;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    padding: 8px;
}

.option:hover{
    cursor: pointer;
    color: yellow;
    background-color: crimson;
    transition: 0.5s;
    border: 2px yellow solid;
    border-radius: 8px;
}
